node_modules/
/dist
/build
.DS_Store
*.log

vendor/
public/storage
public/hot
public/build

.env
.env.backup
.env.production
.env.local
.env.*.local

/*.txt
/*.md

!backend/README.md
!frontend/README.md
